# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/xcshareddata/

# Build files
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Firebase - DO NOT COMMIT THIS!
GoogleService-Info.plist

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (if you use it later)
Pods/